body 
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.logo img
{
    text-align: center;
    width: 50%;
    height: 30px;
    
}
#restaurants
{
    margin: 10px;
}
#restaurants .coeur
{
    padding-top: 20px;
    text-align: right;
}
#restaurants p 
{
    margin-left: 10px;
}

#restaurants div a h2
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10px;
}
#restaurants .restaurant
{
 border: 1px black none;
 border-radius: 20px 20px 20px;
 margin-bottom: 20px;
 background-color: white;
 box-shadow: 0 3px 3px rgba(0,0,0,0.2);
 position: relative;
}
#restaurants img
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#restaurants .content 
{
    display: flex;
    justify-content: space-between;
}
#conteneur
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-color:#ECECEE ;
    text-align: initial;
}
footer
{
    background-color:#4A4A4A;
    text-decoration: white;
    text-align: initial;
}
.logo2 a img
{
   filter: invert(1);
   height: 20px;
   padding-left: 20px;
   width: 100px;
   padding-top: 30px;
}
#site-search
{
    background-color:#CBCBCC ;
    width: 100%;
    height: 40px;
    border-style: none;
    border-top-color: black;
    margin-left: 30px;
}
.recherche 
{
    background-color: #E6E6E6 ;
}
.recherche p 
{
    color:gray;
}
.recherche button
{
    border-radius: 40px;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    color: honeydew;
    
}
.recherche button:hover
{
    opacity: 0.8;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
#restaurants a, 
#restaurants a:hover,
#restaurants a:visited
{
    color: black;
    text-decoration: none;
}
.local
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #CBCBCC ;

}
.local i.fas.fa-map-marker-alt
{
    padding-left: 100px;
    padding-top: 10px;
}
.nav
{
    display: flex;
    
}
.nav a,
.nav a:hover,
.nav a:visited
{
    color: black;
    text-decoration: none;
}
.legal a,
.legal a:hover,
.legal a:visited
{
    color: white;
    text-decoration: none;
}
ul 
{
    list-style-type: none;
}
.nav ul li
{
    background-color: whitesmoke;
    border: white solid 1px;
    border-radius: 20px 20px 20px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: flex;

}
.nav ul li a 
{
    font-weight: bold;
}

ul li span
{
    display:inline-block;
    align-self: center;
    width: 20px;
    height: 20px;
    border:#FF79DA solid 0px;
    border-radius: 50%;
    background: linear-gradient(#FF79DA,#9356DC);
    margin-right: 5px;
    color: white;
    position:relative;
    left: -25px;
    
}


#restaurants .etiquette
{
    border: rgb(154, 201, 154) solid 5px;
    width: 65px;
    border-radius: 2px;
    color: green;
    background-color: rgb(154, 201, 154);
    position: absolute;
   top: 10px;
    right: 10px;
}
.legal
{
    padding-bottom: 20px;
}
.coeur:hover i.fas.fa-heart
{
    opacity: 1;
    color: violet;
    transition:opacity 1s;
}
i.fas.fa-heart
{
    position: relative;
    right: 22px;
    opacity: 0;
    font-size: 22px;
}
i.far.fa-heart
{
    font-size: 22px;
    color: gray;
    
}
i.fas.fa-utensils
{
    color: white;
    margin-right: 18px;
}
i.fas.fa-hands-helping
{
    color: white;
    margin-right: 10px;
}
i.fas.fa-mobile-alt
{
    color: gray;
    margin-right: 20px;
}
i.fas.fa-ellipsis-v
{
    color: gray;
    margin-right: 35px;
}
i.fas.fa-hamburger
{
    color: gray;
    margin-right: 30px;
}
@media screen and (min-width: 820px)
 {
    .logo a img
     {
        width: 25%;
    }
    .nav 
    {
        justify-content: center;
    }
    #restaurants img 
    {
        height: auto;
    }
   
    .local i.fas.fa-map-marker-alt 
    {
        padding-left: 350px;
    }

}
@media  screen and (min-width: 1080px)
 {
     
    footer ul li 
    {
        margin: 15px;
    }
    footer ul 
    {
        display: flex;
        flex-direction: row;
        
    }

    footer
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .logo a img 
    {
        width: 10%;
    }
    .local i.fas.fa-map-marker-alt 
    {
        padding-left: 1050px;
    }
    #restaurants img 
    {
        height: 600px;
        object-fit: cover;
    }
    #restaurants 
    {
        display: flex;
    }
    #restaurants .restaurant 
    {
        width: 100%;
        
    }
   
}
#loader
{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: loader 2s forwards 3s;
    z-index: 9999;

}
#container
{
    width: 30vw;
    height:30vw;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(#FF79DA,#9356DC);
    animation: spinner 2s infinite;
    
}
#content
{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: white;

}
@keyframes loader 
{
        0% {
            opacity: 1;
        }
        
        100% {
            opacity: 0;
            z-index: -9999;
            
        }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}